@model CreateHamperViewModel

<div class="page-banner manage-hamper-banner"></div>
<h1 class="page-title">Create Hamper</h1>

<div class="container userForm">
    <form asp-action="Create" asp-controller="Hamper" asp-route-id="@Model.Hamper.HamperId" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Name</label>
            <input type="text" asp-for="@Model.Name" value="@Model.Hamper.Name" class="form-control" />
        </div>

        <div class="form-group">
            <label>Price</label>
            <input type="text" asp-for="@Model.Price" value="@Model.Hamper.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label>Category</label>
            <select class="form-control" asp-for="@Model.SelectedCategoryId">
                @foreach (var item in Model.Categories)
                {
                    <option value="@item.CategoryId">@item.Name</option>
                }
            </select>
            <a asp-action="Create" asp-controller="Category">Create Category</a>
            <a asp-action="Update" asp-controller="Category">Update Category</a>
        </div>
        <div class="form-group">
            <label>Picture</label>
            <input type="file" asp-for="@Model.PhotoPath" class="form-control" />
        </div>

        <ol>
            @foreach (var item in Model.HamperGifts)
            {
                <li>@item.GiftName</li>
            }
        </ol>
        <a asp-action="GiftList" asp-controller="Hamper" asp-route-id="@Model.Hamper.HamperId">Manage gifts in this Hamper</a>

        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>